<%= render '/exams/nav' %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="btn-group">
      <%= link_to "创建文章", new_exam_topic_path(@exam),class: 'btn btn-primary' %>
    </div>
  </div>
  <ul class="list-group">
    <% @topics.each do |topic| %>    
    <li class="list-group-item">
      <div >
        <h4>
        <%= link_to topic.title,exam_topic_path(@exam,topic) %>
         
        </h4>
        <h4>
          <small>
            <%= topic.user.name %>.
            于<%= distance_of_time_in_words_to_now(topic.created_at) %>之前发布
            .回复：<span class="badge"><%= topic.replies.size %></span>
          </small>
        </h4>
      </div>     
      
    </li>
    <% end %>
    
  </ul>
</div>
