<%= render '/exams/nav' %>

<div class="panel panel-default">
	<div class="panel-body">
		<div>
			<%= link_to "返回文章列表", exam_topics_path(@exam) %>
		</div>
		<div class="page-header">
		  <h1><%= @topic.title %> <small>Subtext for header</small></h1>
		</div>
		<div>
			<%= @topic.content %>
			
		</div>
		<div>			
			<% @topic.attachments.each do |attachment| %>
				附件：<%= link_to attachment.file_name %><br/>
			<% end %>
		</div>
		<div class="btn-group" style="margin-top:20px;">
			<%= link_to "编辑文章", edit_exam_topic_path(@exam, @topic),class: 'btn btn-primary' %>		
			<%= link_to "删除文章", exam_topic_path(@exam, @topic),method: 'delete',confirm:'确定要删除吗？',class: 'btn btn-primary' %>			
			
		</div>
		<hr/>
		<div>
			回复：
		</div>
	</div>
</div>
