<ul class="nav nav-tabs">
  <li class=<%= "active" if @tab=='score' %> >
    <%= link_to '成绩文件提交流程及注意事项', help_path(id:'score') %>    
  </li>
  <li class=<%= "active" if @tab=='order' %> >
    <%= link_to '试卷订单提交流程及注意事项', help_path(id:'order') %>    
  </li>
  <li class=<%= "active" if @tab=='person' %> >
    <%= link_to '学校联系人信息完善说明', help_path(id:'person') %>    
  </li>
  <li class=<%= "active" if @tab=='report' %> >
    <%= link_to '成绩分析报告提交流程及注意事项', help_path(id:'report') %>    
  </li>
  
</ul>
<div>
  <%= render "/share/#{@tab}_help" %>
</div>


