<%= render '/exams/nav' %>


<ul class="nav nav-tabs">
  <% Exam::GROUPS[@exam.exam_type-1].each do |s| %>
    <li <%= 'class="active"'.html_safe if @f_type==s[:f_type].to_s %> >
      <%= link_to s[:name], :action=>'by_school',:exam_id=>@exam,:school_id=>@school,:f_type=>s[:f_type].to_s %>
    </li>
  <% end -%>  
</ul>
<div class="panel panel-default" >
  <div class="panel-body">
  <p>
        <a href="/<%= @f_type %>.csv" class="btn">下载<%= ScoreFile::EXCELCONFIG[@f_type.to_i][:name] %>模板<i class="icon-download-alt"></i></a>
  </p>
  <% if @score_file.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        提交文件出现 <%= pluralize(@score_file.errors.count, "error") %>.
      </div>
      <ul>
      <% @score_file.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @score_file.new_record? %>
    <%= form_for(@score_file,:url=>exam_score_files_path(@exam.id),:html=>{ :multipart => true} ) do |f| %>
            <%#= f.error_messages %>  
            <%= f.hidden_field :exam_id,:value=>@exam.id %>
            <%= f.hidden_field :school_id,:value=>@school.id %>
            <%= f.hidden_field :f_type,:value=>@f_type %>
      <div class="form-group">
      <label for="exampleInputFile"></label>
      <%= f.file_field :file %>    
    	</div>                  
      <button type="submit" class="btn btn-primary" data-loading-text="请稍候，文件上传中...">上传文件</button>
    <% end %>
  <% else %>
    <h3>已经上传文件：<%=  @score_file.filename  %> </h3>
      <%= form_for(@score_file,:url=>exam_score_file_path(@exam.id,@score_file),:html=>{ :multipart => true} ) do |f| %>
            <%#= f.error_messages %>  
            <%= f.hidden_field :exam_id,:value=>@exam.id %>
            <%= f.hidden_field :school_id,:value=>@school.id %>
            <%= f.hidden_field :f_type,:value=>@f_type %>
        <div class="form-group">
        <label for="exampleInputFile">重新上传</label>
        <%= f.file_field :file %>    
        </div>                  
        <button type="submit" class="btn btn-primary" data-loading-text="请稍候，文件上传中...">上传文件</button>
      <% end %>

    <hr/>
    <% if @file_error %>
      <div class="alert alert-danger">
        <span class="label label-danger">文件检测结果：无法读取文件，请检查文件格式，重新上传。</span>
      </div>
    <% else %>
              
      <% if @error && @error>0 %>
              <div class="alert alert-danger">文件检测结果：
              上传的文件检测到<span class="badge "><%= @error %></span>个错误。详情请看下面列表。
              请更正后重新上传文件。
              </div>
              <% else %>
              <div class="alert alert-info">
                <p>
                上传的文件未检测到错误，请核对下面已读入的文件数据,如无错误请点击下面的按钮确认
                </p>
                <p>
                  <%= form_for(:score_file,:url=>{:action=>'update',:id=>@score_file} ) do |f| %>
                  <%= f.hidden_field :confirmed,:value=>true %>
                 <button type="submit" class="btn btn-success ">确认数据无误</button>
                 <% end %>
                </p>
              </div>
                
              <% end %>
    

          <table class="table">
                    <thead >
                      <tr>
                        <th>#</th>
                        <% ScoreFile::EXCELCONFIG[@f_type.to_i][:columns].each do |column| %>
                        <th>
                          <%= column['name'] %>
                        </th>
                        <% end %>
                      </tr>
                    </thead>
            </table>

          <table class="table">
              
              <tbody>
                 <% i=0 %>
                <% @data.each do |row| %>
                <% col=0 %>
                <%# if i>=1 %>

                <tr  <%= 'class="error"' if !row[:row_status] %> >
                  <td><%=  i %></td>
                  <% while col<ScoreFile::EXCELCONFIG[@f_type.to_i][:columns].size %>
                  <td>
                    <%#= Iconv.conv('utf-8//IGNORE','gbk//IGNORE',row[:row][col]) %>
                    <%= (row[:row][col]) %>
                    <%= '<span class="label label-warning">错误</span>'.html_safe  if ! row[:col_status][col].nil? && ! row[:col_status][col] %>
                    <% col+=1 %>
                  </td>
                  <% end %>
                </tr>
                <%# end %>
                <% i+=1 %>
                <% end %>
                
              </tbody>
            </table>  
    <% end %>

  <% end -%>
  </div>
</div>
