<%= render "/exams/nav" %>
<style type="text/css">
<!--
.field_with_errors input {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
-->
</style>

<div style="padding: 0 0 10px 0 ;">
<ul class="nav nav-tabs">
  <% Exam::SUBJECTS[@exam.exam_type-1].each do |group| %>
  <li class="dropdown">
    <% if group[:name] %>

    <a class="dropdown-toggle" data-toggle="dropdown" href="#">

      <%= group[:grade] %><span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% group[:name].each do |subject| %>
      <li>
        <%= link_to subject, exam_small_score_path(@exam, id: @school,
         grade_name: group[:grade], subject_name: subject) %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </li>
  <% end %>
</ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= @school.name %>
    <%= @grade_name %>
    <%= @subject_name %>
  </div>
  <%= form_tag exam_small_scores_path(@exam) do %>
  <% errors = @small_scores.sum { |item| (item && item.errors.any?) ? item.errors.count : 0 } %>
  <% if errors > 0  %>
    <div class="alert alert-block alert-error">
      <a class="close" data-dismiss='alert' href="#">×</a>
      <p><strong>有 <%= errors %> 处问题导至无法提交:</strong></p>
    </div>
  <% end %>

  <%= hidden_field_tag 'school_id', @school.id %>
  <%= hidden_field_tag 'subject_name', @subject_name %>
  <%= hidden_field_tag 'grade_name', @grade_name %>
  <table class="table table-bordered">

    <% (0..4).each do |j|%>
    <tr>
      <td>题号</td>
      <% (1..15).each do |i| %>
      <td><%= j*15+i %></td>
      <% end %>
    </tr>
    <tr>
      <td>平均分</td>
      <% (1..15).each do |i| %>
      <td>
        <%= fields_for "small_scores[#{j*15+i}]", @small_scores[j*15+i] do |f| %>
        <%= f.text_field :average, size: 2 %>
        <%= f.hidden_field :bh %>
        <% end %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>得分率</td>
      <% (1..15).each do |i| %>
      <td>
        <%= fields_for "small_scores[#{j*15+i}]", @small_scores[j*15+i] do |f| %>
        <%= f.text_field :scoring_average, size: 2 %>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <div style="padding:10px;">
    <button type="submit" class="btn btn-primary">保存</button>
  </div>
  <% end %>
</div>