<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Worksheet ss:Name="<%= @grade_name %>">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">区县代码</Data></Cell>
        <Cell><Data ss:Type="String">区县</Data></Cell>
        <Cell><Data ss:Type="String">学校代码</Data></Cell>
        <Cell><Data ss:Type="String">学校</Data></Cell>
        <Cell><Data ss:Type="String">题号</Data></Cell>
        <Cell><Data ss:Type="String"><%= @subject_name %>平均分</Data></Cell>
        <Cell><Data ss:Type="String"><%= @subject_name %>得分率</Data></Cell>

      </Row>
      <% (1..105).each do |i| %>
      <%# score = SmallScore.where(exam_id: @exam.id,
       school_id: @school.id, bh: i, grade_name: @grade_name, subject_name: @subject_name) %>

      <Row>
        <Cell><Data ss:Type="String"><%= @school.qx.code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= @school.qx.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= @school.code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= @school.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= i %></Data></Cell>
        <Cell><Data ss:Type="String"><%= @small_scores[i].average if @small_scores[i] %></Data>
          </Cell>
        <Cell><Data ss:Type="String"><%= @small_scores[i].scoring_average if @small_scores[i] %>
          </Data></Cell>
      </Row>

      <% end %>
    </Table>
  </Worksheet>


</Workbook>
