<%= render '/exams/nav' %>
<ul class="nav nav-tabs nav-justified">
  <li class="disabled"><a href="#">创建订单<span class="glyphicon glyphicon-ok"></span></a></li>
  <li class="active"><a href="#">确认订单</a></li>
  <li class="disabled"><a href="#">打印订单</a></li>
</ul>
<div class="panel panel-default" >
  <div class="panel-body">

<ul class="nav nav-pills">
  <li class="active"><a href="#comfirm" data-toggle="pill">确认订单</a></li>
  <li><a href="#edit" data-toggle="pill">修改订单</a></li>  
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="comfirm">
    <div class="alert alert-danger alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>注意!</h4>
      <p>
      一旦点选“确认并进入打印页面”，即视学校确认试卷订单，将不能修改试卷订数并直接打印纸质订单。请在打印的纸质订单上加盖学校印章，区属学校上报所属区（县）教育局教研室，市直学校上报市教育局教研室。
      </p>
      <p>
      <%= link_to '确认并进入打印页面',confirm_exam_order_item_path(@exam,@order_item),method: :put,class: "btn btn-success" %>
      </p>
    </div>
    

    <div class="" id="print">
      
      <h3 style="text-align: center;">
        <%= @order_item.paper_order.name %>
      </h3>
    <h3 style="text-align: center;">教学质量监测方案试题订单</h3>
    <style type="text/css">
    <!--
    .table th, .table td {
      text-align: center;
    }
    -->
    </style>
    <% if @paper_order.item_type==1 %>
    <table class="table table-bordered" >
      <tr>
        <th>年级</th>
        <th>类别</th>
        <th>语文</th>
        <th>数学</th>
        <th>英语</th>
        <th>物理</th>
        <th>化学</th>
        <th>生物</th>
        <th>政治</th>
        <th>历史</th>
        <th>地理</th>
      </tr>
      <tr>
        <th>高一</th>
        <th>份数</th>
        <td>
          <%= @order_item.g1yw %>
        </td>
        <td>
          <%= @order_item.g1sx %>
        </td>
        <td>
          <%= @order_item.g1yy %>
        </td>
        <td>
          <%= @order_item.g1wl %>
        </td>
        <td>
          <%= @order_item.g1hx %>
        </td>
        <td>
          <%= @order_item.g1sw %>
        </td>
        <td>
          <%= @order_item.g1zz %>
        </td>
        <td>
          <%= @order_item.g1ls %>
        </td>
        <td>
          <%= @order_item.g1dl %>
        </td>
      </tr>
    </table>
    <table class="table table-bordered" >
      <tr>
        <th>年级</th>
        <th>类别</th>
        <th>语文</th>
        <th>文科数学</th>
        <th>理科数学</th>
        <th>英语</th>
        <th>物理</th>
        <th>化学</th>
        <th>生物</th>
        <th>政治</th>
        <th>历史</th>
        <th>地理</th>
      </tr>
      <tr>
        <th>高二</th>
        <th>份数</th>
        <td>
          <%= @order_item.g2yw %>
        </td>
        <td>
          <%= @order_item.g2sxw %>
        </td>
        <td>
          <%= @order_item.g2sxl %>
        </td>
        <td>
          <%= @order_item.g2yy %>
        </td>
        <td>
          <%= @order_item.g2wl %>
        </td>
        <td>
          <%= @order_item.g2hx %>
        </td>
        <td>
          <%= @order_item.g2sw %>
        </td>
        <td>
          <%= @order_item.g2zz %>
        </td>
        <td>
          <%= @order_item.g2ls %>
        </td>
        <td>
          <%= @order_item.g2dl %>
        </td>
      </tr>
    </table>
    <% elsif @paper_order.item_type==2
       %>
       <table class="table table-bordered" >
      <tr>
        <th>年级</th>
        <th>类别</th>
        <th>语文</th>
        <th>文科数学</th>
        <th>理科数学</th>
        <th>英语</th>
        <th>理科综合</th>
        <th>文科综合</th>
        
      </tr>
      <tr>
        <th>高三</th>
        <th>份数</th>
        <td>
          <%= @order_item.g3yw %>
        </td>
        <td>
          <%= @order_item.g3sxw %>
        </td>
        <td>
          <%= @order_item.g3sxl %>
        </td>
        <td>
          <%= @order_item.g3yy %>
        </td>
        <td>
          <%= @order_item.g3lz %>
        </td>
        <td>
          <%= @order_item.g3wz %>
        </td>
        
      </tr>
    </table>
    <% end %>
    <div style="padding: 10px;">
    <table width="90%">
      <tr>
        <td width="40%">
          单位：   <%= @order_item.school.name %>
        </td>
        <td width="30%">
          经办人： <%= @order_item.handler %>
        </td>
        <td width="30%">
           联系电话: <%= @order_item.telephone %>
        </td>
      </tr>
    </table>
    </div>
    </div>
  </div>
  <div class="tab-pane" id="edit">
    <%= render 'form' %>
  </div>
</div>



</div>
</div>