<%= render '/exams/nav' %>
<div class="panel panel-default">
  <div class="panel-body">
    <div style="padding: 10px;"  class="btn-group">
      <%= link_to '订单列表',exam_order_items_path(@exam),:class=>'btn btn-default' %>
      <%#= link_to '订单汇总',{:controller=>'paper_orders',:action=>'qx',:id=>@paper_order},{:class=>'btn'} %>
    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#home" data-toggle="tab">已提交订单</a></li>
  <li>
    <a href="#profile" data-toggle="tab">未提交订单学校
    <span class="badge badge-warning">
      <%= @unorders.size %>
    </span>
    </a>
  </li>

  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="home">
      <table class="table table-bordered">
      <tr>

        <th>区</th>
        <th>学校</th>
        <th colspan ="3">操作</th>
      </tr>

    <% @order_items.each do |order_item| %>
      <tr>

        <td><%=h order_item.school.qx.name %></td>
        <td><%=h order_item.school_name %></td>
        <td><%= link_to '查看', exam_order_item_path(@exam,order_item) %></td>
        <td>
          <% if order_item.confirmed? %>
            <%= form_for :order_item,:url=>cancel_exam_order_item_path(@exam,order_item),:html => { :method => :put } do |f| %>
            <%= f.hidden_field :confirmed,:value=>false %>
            <%= f.submit '取消确认' %>
            <% end %>
          <% else %>
          <span class='label label-danger'>未确认</span>
          <% end %>
        </td>
        <td><%= link_to '删除', exam_order_item_path(@exam,order_item), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
    </div>
    <div class="tab-pane" id="profile">
      <table class="table table-bordered">
      <tr>

        <th>区</th>
        <th>学校</th>

      </tr>

      <% @unorders.each do |school| %>
      <tr>
        <td>
          <%= school.qx.name %>
        </td>
        <td>
          <%= school.name %>
        </td>
      </tr>
    <% end %>
      </table>

    </div>

    </div>
</div>
