<%= render '/exams/nav' %>
<ul class="nav nav-tabs nav-justified">
  <li class="disabled"><a href="#" >创建订单<span class="glyphicon glyphicon-ok"></span></a></li>
  <li class="disabled">
    <a href="#" >创建订单<span class="glyphicon glyphicon-ok"></span></a>
    
  </li>
  <li class="active"><a href="#">打印订单</a></li>
</ul>
<div class="panel panel-default" >
  <div class="panel-body">
    <div style="padding: 10px;"  class="btn-group">
      
      <a href="#" onclick="pr();" class="btn btn-success" ><span class="glyphicon glyphicon-print"></span> 打印订单</a>
    </div>

    <div class="" id="print">

  <h3 style="text-align: center;">
    <%= @order_item.paper_order.name %>
  </h3>
<h3 style="text-align: center;">教学质量监测方案试题订单</h3>
<style type="text/css">
<!--
.table th, .table td {
  text-align: center;
}
-->
</style>

<table class="table table-bordered" >
  <tr>
    <th>年级</th>
    <th>类别</th>
    <th>语文</th>
    <th>数学</th>
    <th>英语</th>
    <th>物理</th>
    <th>化学</th>
    <th>生物</th>
    <th>政治</th>
    <th>历史</th>
    <th>地理</th>
  </tr>
  <tr>
    <th>高一</th>
    <th>份数</th>
    <td>
      <%= @order_item.g1yw %>
    </td>
    <td>
      <%= @order_item.g1sx %>
    </td>
    <td>
      <%= @order_item.g1yy %>
    </td>
    <td>
      <%= @order_item.g1wl %>
    </td>
    <td>
      <%= @order_item.g1hx %>
    </td>
    <td>
      <%= @order_item.g1sw %>
    </td>
    <td>
      <%= @order_item.g1zz %>
    </td>
    <td>
      <%= @order_item.g1ls %>
    </td>
    <td>
      <%= @order_item.g1dl %>
    </td>
  </tr>
</table>
<table class="table table-bordered" >
  <tr>
    <th>年级</th>
    <th>类别</th>
    <th>语文</th>
    <th>文科数学</th>
    <th>理科数学</th>
    <th>英语</th>
    <th>物理</th>
    <th>化学</th>
    <th>生物</th>
    <th>政治</th>
    <th>历史</th>
    <th>地理</th>
  </tr>
  <tr>
    <th>高二</th>
    <th>份数</th>
    <td>
      <%= @order_item.g2yw %>
    </td>
    <td>
      <%= @order_item.g2sxw %>
    </td>
    <td>
      <%= @order_item.g2sxl %>
    </td>
    <td>
      <%= @order_item.g2yy %>
    </td>
    <td>
      <%= @order_item.g2wl %>
    </td>
    <td>
      <%= @order_item.g2hx %>
    </td>
    <td>
      <%= @order_item.g2sw %>
    </td>
    <td>
      <%= @order_item.g2zz %>
    </td>
    <td>
      <%= @order_item.g2ls %>
    </td>
    <td>
      <%= @order_item.g2dl %>
    </td>
  </tr>
</table>
<div style="padding: 10px;">
<table width="90%">
  <tr>
    <td width="40%">
      单位：   <%= @order_item.school.name %>
    </td>
    <td width="30%">
      经办人： <%= @order_item.handler %>
    </td>
    <td width="30%">
       联系电话: <%= @order_item.telephone %>
    </td>
  </tr>
</table>
</div>
</div>
<!--startprint1-->
<script>

function pr(){
  bdhtml=window.document.body.innerHTML;
  window.document.body.innerHTML=$('#print').html();
  window.print();
  window.document.body.innerHTML=bdhtml;
}
</script>
  </div>
  
 
</div>


