<%= render 'nav' %>
      <div class="row">
      	
      	<div class="col-md-3">
      		<div class="panel panel-<%= (@paper_order.state? ? 'default' : 'info') %>">
			  <div class="panel-heading">试卷订单
			  	<% if current_user && current_user.is_s_admin? %>
				  	<%= link_to order_on_off_exam_path(@exam),title: (@paper_order.state? ? "开启" : "关闭") do %>
				  		<span class="glyphicon glyphicon-<%= (@paper_order.state? ? "play" : "stop") %> " ></span>
				  	<% end %>
			  	<% end %>
			  	<% if current_user && current_user.is_admin? %>
				  	<%= link_to exam_order_items_path(@exam) ,title: '管理订单' do %>
				  		<span class="glyphicon glyphicon-wrench pull-right" ></span>
				  	<% end %>
			  	<% end %>
			  </div>
			  <div class="panel-body" style="min-height:276px;">
			  	<% if @paper_order.state? %>
			  		<div class="alert alert-warning">订单提交已关闭</div>
			  	<% end %>
			    <% if current_user.is_school?  %>
			    <% @order_item = OrderItem.find_by(paper_order_id: @exam.paper_order.id,school_id: current_user.school_id) %>
			    	<h3>流程</h3>
			          <ol>
			          	<% if @order_item %>
						  <li>步骤一：新建订单。<span class="glyphicon glyphicon-ok"></span></li>
						  <% if @order_item.confirmed? %>
							  <li>步骤二：确认或修改订单。<span class="glyphicon glyphicon-ok"></span></li>
							  <li><p class="text-danger">步骤三：查看打印订单</p></li>
							  </ol>
							  <%= link_to '打印订单',exam_orders_path(@exam),{:class=>"btn btn-primary btn-lg btn-block"} %> 
						  <% else %>
						  		<li><p class="text-danger">步骤二：确认或修改订单。</li>
						  		<li>步骤三：查看打印订单</li>
						  		</ol>
						  		<%= link_to '确认或修改订单',edit_exam_order_item_path(@exam,@order_item),{:class=>"btn btn-primary btn-lg btn-block"} %> 
						  <% end  %>
						 <% else %>
						 	<li><p class="text-danger">步骤一：新建订单。</p></li>
						 	<li>步骤二：确认或修改订单。</li>
						 	<li>步骤三：查看打印订单</li>
						 	</ol>						 	
						 	<%= link_to '创建订单',new_exam_order_item_path(@exam),{:class=>"btn btn-primary btn-lg btn-block "} if !@paper_order.state? %> 
						 <% end %>
						  
						  
						
			        
			    <% else %>
			          <h3>流程</h3>
			          <ol>
						  <li>步骤一：新建订单。</li>
						  <li>步骤二：确认或修改订单。</li>
						  <li>步骤三：查看打印订单</li>
						  
						</ol>
			       <%= link_to '创建订单',new_exam_order_item_path(@exam),{:class=>"btn btn-primary btn-lg btn-block"} %>  
			    <% end %>

			    
			       <hr/>
			          <a class="btn btn-default" href="/welcome/help#order">详细帮助 &raquo;</a>
			  </div>
			</div>
      	</div>

      	<div class="col-md-3">
      		<div class="panel panel-default">
			  <div class="panel-heading">考场信息</div>
			  <div class="panel-body" style="min-height:276px;">
			    
			          <h2>未开始请等候</h2>
			       <hr/>
			          <a class="btn btn-default" href="#">详细帮助 &raquo;</a>
			  </div>
			</div>
      	</div>

      	<div class="col-md-3">
      		<div class="panel panel-<%= (@exam.upload_started? ? 'info' : 'default') %>">
			  <div class="panel-heading">成绩上传
			  	<% if current_user && current_user.is_s_admin? %>
				  	<%= link_to set_upload_started_exam_path(@exam),title: (@exam.upload_started? ? "关闭" : "开启") do %>
				  		<span class="glyphicon glyphicon-<%= (@exam.upload_started? ? "stop" : "play") %> " ></span>
				  	<% end %>
			  	<% end %>
			  	<% if current_user && current_user.is_admin? %>
				  	<%= link_to exam_score_files_path(@exam) ,title: '管理成绩文件' do %>
				  		<span class="glyphicon glyphicon-wrench pull-right" ></span>
				  	<% end %>
			  	<% end %>
			  </div>
			  	<div class="panel-body" style="min-height:276px;">
			    	<% if @exam.upload_started? %>
			    		<h3>流程</h3>
			          	<ol>
						  	<li>下载模板，填充数据。</li>
						  	<li>上传文件。</li>
						  	<li>查看文件监测和数据。</li>
						  	<li>修改或确认。</li>						  
						</ol>
						<% if @current_user.is_school? %>
						<%= link_to '上传文件',exam_school_files_path(@exam,@current_user.school),{:class=>"btn btn-primary btn-lg btn-block"} %>  
						<% end %>
			    	<% else %>
			          <h2>未开始请等候</h2>
			        <% end %>
			       <hr/>
			          <a class="btn btn-default" href="#">详细帮助 &raquo;</a>
			  	</div>
			</div>
      	</div>

      	<div class="col-md-3">
      		<div class="panel panel-default">
			  <div class="panel-heading">成绩分析</div>
			  <div class="panel-body" style="min-height:276px;">
			    
			          <h2>未开始请等候</h2>
			       <hr/>
			          <a class="btn btn-default" href="#">详细帮助 &raquo;</a>
			  </div>
			</div>
      	</div>

      	
 </div>