<div class="row-fluid">
  <div class="span3">
    <%#= render :partial=>'/admin/left'  %>
  </div>
  <div class="span9">
    <div class="page-header">
      <h1>区县管理</h1>
    </div>
<h1>Editing qx</h1>

<%= form_for(@qx) do |f| %>
  <%#= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @qx %> |
<%= link_to 'Back', qxes_path %>
  </div>
</div>