<%= render "/exams/nav" %>

<div class="panel panel-default">
  <div class="panel-heading">
    成绩分析报告
  </div>
  <div class="panel-body">
    <p>模板1</p>
    <p>模板2</p>
  </div>

  <table class="table">
  <thead>
    <tr>
      <th>区县</th>
      <th>学校</th>
      <th>文件</th>
      <th>管理</th>      
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.qx.name %></td>
        <td><%= school.name %></td>
        <td>
          <% if @reports[school.id] %>
            <% @reports[school.id].each do |report| %>
              <%= link_to report.file_name,exam_report_path(@exam,report) %><br/>
            <% end %>
          <% else %>
            未上传文件
          <% end %>
        </td>
        <td>
          <%= link_to "管理", show_by_school_exam_reports_path(@exam, school_id: school) %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>






