<%= render '/exams/nav' %>

<div class="page-header">
  <h4><%= @school.name %> 成绩分析报告   	
  </h4>
</div>
<p>
			<a href="/ysy.doc">下载语数英质量分析模板</a>
		</p>
		<p>
			<a href="/zsdlhs.doc">下载政史地理化生质量分析模板</a>
		</p>
<% if @report && @report.errors.any? %>
				    <div id="error_explanation">
				      <div class="alert alert-error">
				        提交文件出现 <%= pluralize(@report.errors.count, "error") %>.
				      </div>
				      <ul>
				      <% @report.errors.full_messages.each do |msg| %>
				        <li>* <%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

<ul class="nav nav-tabs" id="report">
<% Exam::SUBJECTS[@exam.exam_type-1].each do |group| %>

  <li class=""><a href="#<%= group[:id] %>" data-toggle="tab"><%= group[:grade] %></a></li>
  
<% end %>
</ul>
<div class="tab-content">
	<% Exam::SUBJECTS[@exam.exam_type-1].each do |group| %>
		<div class="tab-pane row" id="<%= group[:id] %>">
			
			<% if group[:name] %>
			<% group[:name].each do |subject| %>
			<div class=" col-md-3">
			<div class="panel panel-default ">
				<div class="panel-heading">					
					<%= subject %>
				</div>
				<div class="panel-body" style="min-height:155px;">
					
					<% if @reports[group[:grade]+subject] %>
						<span class="label label-warning">已上传文件</span>
						<div class="btn-group">
							<%= link_to exam_report_path(@exam,@report),class:'btn btn-default',title:@reports[group[:grade]+subject].file_name do %>
								<span class="glyphicon glyphicon-download"></span> 下载
							<% end %>
							
							<button class="btn btn-success" >确认</button>
						</div>
						<% @report=@reports[group[:grade]+subject] %>
					<% else %>
						<span class="label label-default">未上传文件</span>
						<% @report=Report.new %>
					<% end %>
					
					
					<%= form_for( [@exam,@report],:html=>{ :multipart => true} ) do |f| %>
			            <%#= f.error_messages %>  
			            <%= f.hidden_field :exam_id,:value=>@exam.id %>
			            <%= f.hidden_field :school_id,:value=>@school.id %> 
						<%= f.hidden_field :subject_name,:value=>group[:grade]+subject %> 			                       			          	
				      <div class="form-group">
				      <label for="exampleInputFile"></label>
				      <%= f.file_field :file %>    
				    	</div>                  
				      <button type="submit" class="btn btn-primary" data-loading-text="请稍候，文件上传中...">上传文件</button>
				      
				    <% end %>
				</div>
			</div>
			</div>
			<% end %>
			<% end %>
		</div>
	<% end %>
</div>


<script type="text/javascript">
	$('#report a:first').tab('show'); 
</script>